<h1>Track: <%= @track.title %></h1>
<h3>Band: <%= @track.band.name %></h3>
<h3>Album: <%= @track.album.title %></h3>
<h3>Track number: <%= @track.ord %></h3>
<h3>Track type: <%= @track.bonus? ? "bonus" : "regular" %></h3>
<h3>Lyrics: <pre><%= @track.lyrics.empty? ? "not provided" : @track.lyrics %></pre></h3>


<%= button_to "Edit track", edit_track_url(@track.id), method: :get %>
<%= button_to "Remove track", track_url(@track.id), method: :delete %>
<%= button_to "Back to album: #{@track.album.title}", album_url(@track.album.id), method: :get %>
<%= button_to "Back to band: #{@track.band.name}", band_url(@track.band.id), method: :get %>